{% extends "base.html" %}

{% block title %} Moje kursy {% endblock %}

{% block content %}

    <h1>Moje Kursy</h1>
    <div class="module">
        {% for course in object_list %}
            <div class="course-info">
                <h3>{{course.title}}</h3>
                <p>
                    <a href="{% url "course_edit" course.id %}">Edytuj</a>
                    <a href="{% url "course_delete" course.id %}">Usuń</a>
                </p>
            </div>
        {% empty %}
            <p>Jeszcze nie utworzyłeś żadnych kursów</p>
        {% endfor %}
        <p>
            <a href="{% url "course_create" %}" class="button">Utwórz nowy kurs</a>
        </p>
    </div>

{% endblock %}